In [1]:
#Values & Variables: - 
x=5
#The = sign is helping to store the value, "5" in the varaible "x"

In [2]:
x

5

In [3]:
pam = 56

In [4]:
pam

56

In [5]:
#Values & Variables
#Operators in Python
#Condtional Statements (if,else)
#Loops
#Functions (In-Python & def)
#Libraries

In [6]:
fgh=89

In [7]:
fgh

89

In [8]:
f_g_h = 89

In [9]:
arnav_sharma = 123

In [10]:
arnav_sharma

123

In [11]:
pwd

'C:\\Users\\ADMIN1'

In [12]:
#Kernel Architecture: - 

# Step 1 - Input the data
# Step 2 - The input data as taken from step 1 goes in "Syntax Checker & Translator (STC)" which is installed in your system's CPU.
# Step 2.1 - The STC converts the input into "byte" code
# Step 3 - The byte code now goes into the another component of python arch. "Python Virtual Machine (PVM)" - Compiler
# Step 3.1 - This PVM converts the byte code into machine output
# Step 4 - We as humans get the value from Step 3.1

In [13]:
1+23

24

In [14]:
import pandas as pd

In [15]:
#Pandas Dataframe
df = pd.read_csv(r"C:\Users\ADMIN1\Downloads\23.Date Functions (2).csv")

In [16]:
df

,Date Functions,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Start date in Excel,1/1/1900,1,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/19/1982,30001,NaN
1,Transaction Date,Amount,Category,Description,Day,Month,Year,NaN,NaN,NaN,NaN,NaN,NaN
2,1/15/2022,1000,Grocery,Supermarket A,29,10,2017,29-Oct-17,862.0,Date as Text,=DATE(A4,10/29/2017,NaN
3,2/3/2022,2000,Electronics,Electronic Store B,9,3,2020,9-Mar-20,NaN,02-03-2022,=DATEVALUE(,"44,622.00",To convert the text date into numerical date
4,3/10/2022,500,Clothing,Fashion Outlet C,15,7,2000,15-Jul-00,NaN,NaN,=DAY(,29,Give the Day from a date
5,4/22/2022,1500,Home Goods,Household Depot D,4,1,2005,4-Jan-05,NaN,NaN,=MONTH(,10,Give the Month from a date
6,5/8/2022,800,Grocery,Local Market E,30,2,2003,2-Mar-03,NaN,NaN,=YEAR(,2017,Give the year from a date
7,6/17/2022,1200,Electronics,Tech Shop F,15,1,2013,15-Jan-13,NaN,NaN,=TODAY(,30-Sep-24,Give the current date
8,7/5/2022,300,Clothing,Boutique G,30,3,2000,30-Mar-00,NaN,NaN,=NOW(,9/30/2024 8:43:48,Give the current date and current time
9,8/19/2022,2000,Home Goods,Furniture World H,17,4,2018,17-Apr-18,NaN,NaN,=WEEKDAY(,1,Give the day of the week of the date
10,9/12/2022,700,Grocery,Mega Mart I,23,2,2016,23-Feb-16,NaN,NaN,=WEEKNUM(,11,Give the week number of that week in a year
11,10/28/2022,900,Electronics,Gadget Store J,11,7,2020,11-Jul-20,NaN,NaN,=EOMONTH(,28-Feb-17,Give you the last day of the month after speci...
12,11/15/2022,600,Clothing,Fashion Mall K,24,4,2022,24-Apr-22,NaN,NaN,=HOUR(,8,NaN
13,12/3/2022,1800,Home Goods,Home Essentials L,25,11,2006,25-Nov-06,NaN,NaN,=SECOND(,48,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,=MINUTE(,43,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,=DAYS(,784,Difference Between the two dates
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Operators in Python - 
#Arithmetic Operators - +,-,*,/,%,//
2+5

7

In [18]:
6*5

30

In [19]:
30/3

10.0

In [20]:
98-7

91

In [21]:
#% Operator: - This basically helps us to know the remainder.
30%7

2

In [22]:
if x%5 == 0:
    print(x)

5

In [23]:
#// Operator: - This basically helps us to know the Divisor
96//6

16

In [24]:
#OS Library in Python: - 
import os

In [25]:
pwd

'C:\\Users\\ADMIN1'

In [26]:
#This helps me to create a directory and execute it.
os.mkdir('Prabha')
print("Folder got Created")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'Prabha'

In [ ]:
#This helps me to change the directory and execute it.
os.chdir('Prabha')
print("Folder got Changed")

In [ ]:
pwd

In [ ]:
#The filepath of my host directory.
os.getcwd()

In [ ]:
pwd

In [ ]:
os.chdir('C://Users//ADMIN1//Desktop//Parminder')
print('the host dir. got changed')

In [ ]:
pwd

In [ ]:
#Logical Operators: - and, or & not
# "Do or Die"  "Do and Die"
#Logical: - (1) This will always give me either a True or False value.
#Logical AND: - This returns only the "True" value when both my operands are True.
#Logical OR: - This returns the "True" value when any of my operand is Ture.

In [ ]:
#Body To Mass Indx: - BMI
height=181
weight=81

In [ ]:
height>188 and weight>75

In [ ]:
height>188 or weight>75

In [ ]:
# 51-64: - x
x=55
x>=51 and x<=64

In [ ]:
#Boolean: - 0 or 1 (False or True)
cv=True
print(not cv)

In [ ]:
ctc = int(input("Enter the Boy's CTC: "))
height = int(input("Enter the Boy's Height: "))

In [ ]:
ctc>=15 and height>=181

In [ ]:
#Retail Store: - 
#Lenskart: - they have showrooms across PAN-India delivering the glasses.
#Retail Key Performance Indicator: - Average Basket Size.
#(Sum of all the amount of articles as mentioned in the bills/invoices/No. of bills) divided by( no. of invoices).
#Specs cleaning lotion/liquid; specs case/box - 2-3 articles.
#Cross-Selling - Avg. Basket Size(bsb)

In [ ]:
#bsb - 0 to 3: - Average
#bsb - 3.1 to 5: - Good
#bsb - 5.1 to 8: - Very Good
#bsb - 8.1 to 10: - Exceptional

In [ ]:
bsb=8

In [ ]:
bsb>=0 and bsb<=3

In [ ]:
bsb>=3.1 and bsb<=5

In [ ]:
bsb>=5.1 and bsb<=8

In [ ]:
bsb>=8.1 and bsb<=10

In [ ]:
#Assignment Operators: - +=, -=, *=, /=
fgh=2 #we have stored the value of 2 to a variable i.e 'fgh'
fgh/=3 #we are storing and coonsequently adding the value '3' to the variable
fgh

Data Types in Python: - Hindi - Devnagari Script, Sanskrit Script, Gurumukhi Script

1) integers - int - 0,1,2,3....
2) float - 2.1,3.2,4.5,....
3) complex - 4+5j, 8+9j, 7+6j, .....
4) Boolean - Bool - either 0 or 1 as the values
5) string - str - "Mary Had a Little Lamb!"

In [36]:
swiggy = 5+7j
zomato = 8+6j
subway = swiggy + zomato
print(subway)

(13+13j)

In [39]:
z="Hello World, My name is Arnav!"
print(z)

Hello World, My name is Arnav!

In [53]:
#Bool Data Types: - 
var1=1
var1==0
print(bool(var1))
var2=3+4j
print(bool(var2))
var3=-5
print(bool(var3))

True
True
True

In [57]:
#WAP (Write a Program) to externally input the cost of living of 2 cities and then to compare them which one is better to live.
#The answer of better to live should be given by the program only: - True or False.

In [67]:
#IN USD
benchmark_cost_of_living = 70000.0
texas = float(input("enter the cost of living in texas: "))
california = float(input("enter the cost of living in california: "))
print("texas value:" , texas)
print("california value:" ,california)

enter the cost of living in texas:  14000
enter the cost of living in california:  85000

texas value: 14000.0
california value: 85000.0

In [69]:
texas >= benchmark_cost_of_living and california >= benchmark_cost_of_living

False

In [71]:
texas >= benchmark_cost_of_living or california >= benchmark_cost_of_living

True