In [1]:
a=2

In [2]:
#Data Types: 
b = [3,4,6,"Arnav",2+3j,5.6734]
print(b)

[3, 4, 6, 'Arnav', (2+3j), 5.6734]

In [3]:
#Lists, Tuples, Dictionaries, Sets, arrays, Tensors.

In [4]:
#Dictionaries: {}-Keys & Values.
# Keys & Values- {Key:Value}
c = {1697:"Sam",2689:"Brian",4327:"Fabrice"}
print(c)

{1697: 'Sam', 2689: 'Brian', 4327: 'Fabrice'}

In [5]:
d = {4,8,12,15}

#vital Concepts:
#1. Indentation:
def average_of_2_numbers(n1,n2):
    
    
    return 
def avg_3_numb(n1,n2):
    
print()

#2. L- R Associativty:
for x in range(0,20):

In [6]:
#Indexing: 
a=[20,40,60,80]

a[1]

40

In [7]:
s=[3,6,9,12,15,18]
s[-1]

18

In [5]:
g=[2,4,6,8,10,(1,3,5,7),12,14,16,18,20]
print(g[5])

(1, 3, 5, 7)

In [9]:
g[3]

8

In [10]:
g[4]

10

In [11]:
g[5]

(1, 3, 5, 7)

In [12]:
#Delimiters - : (colon) ,(commas) ;(semicolons) .(dots)
#Operators - 
# Arth. Operators - 
# 1. + : 
2+3

5

In [13]:
5-2

3

In [14]:
2-5

-3

In [15]:
3*4

12

In [16]:
2**3

8

In [17]:
2**3**2

512

In [18]:
2**9

512

In [19]:
#Div. Operator:
#1. /
16/3

5.333333333333333

In [20]:
#Modulo: Remainders.
16%3

1

In [21]:
#Double Slash: Quotients.
16//3

5

In [22]:
#Logical Operators: AND, OR Ops.

In [23]:
age = 32
weight =78

age>30 and weight>80

False

In [24]:
age>30 or weight>80

True

In [25]:
56 and 23

23

In [26]:
63 and 89

89

In [27]:
0 and 89

0

In [28]:
1 and 2

2

In [29]:
0 and 1

0

In [30]:
1 or 2

1

In [31]:
# And>Or
63 and 89 or 45

89

In [32]:
63 or 89 and 45

63

In [33]:
89 and 45

45

In [34]:
63 or 45

63

In [35]:
63 or 62

63

In [36]:
"I live in Pune" and "I am 25 years old"

'I am 25 years old'

#Equality Operators: <,>,>=,<=,!=
<= : 
>=
!= 
<
>
==

In [37]:
'''My name is Arnav and
I work at UBS. UBS is a swiss Investment Bank headquartered in Zurich'''
d=[23,4,56]

In [38]:
print(d)

[23, 4, 56]

In [39]:
#Membership Operators: in, not in:

In [40]:
f=56,81,78,98
print(f)

(56, 81, 78, 98)

In [41]:
f is 56

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-41-838bb975d525>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  f is 56

False

In [6]:
#Data Manipulations in List:
temp = [1,2,3,4,5]
print("The original list is: ", temp)
#Add an element:list_name.append(element to be added)
temp2 = temp.append(56)
print(temp2)

The original list is:  [1, 2, 3, 4, 5]
None

In [12]:
temp.append(89)
print(temp)

[1, 2, 3, 4, 5, 56, 56, 56, 56, 59, 89, 89]

In [44]:
print("The Appended list is: ",temp2)

The Appended list is:  None

In [45]:
temp3 = [1,2,3,4,5]
print("The original list is: ", temp3)
#Add an element:list_name.append(element to be added)
temp3.append("Pune")
temp3

The original list is:  [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 'Pune']

In [46]:
temp.insert(3,9)
print(temp)

[1, 2, 3, 9, 4, 5, 56, 56]

In [47]:
# If you want to append an element at a defined spot: insert.
#Insert Manipulate: listname.insert(index no, element to be inserted)
var2 = [2,4,6,8]
var2.insert(2,24)
print(var2)

[2, 4, 24, 6, 8]

In [48]:
#to remove the last element and to spot it:listname.pop()
var2.pop()
var2

[2, 4, 24, 6]

In [49]:
#to remove the element from list: listname.remove(element to be removed)
var2.remove(2)
print(var2)

[4, 24, 6]

In [50]:
#pop: used to fetch the last element of list.
var3 = [3,6,9,12,15,18]
var3.pop()

18

In [51]:
var3.remove(6)

In [52]:
print(var3)

[3, 9, 12, 15]

In [53]:
var5=[5,10,15,20,25,30]
var5.pop()

30

In [54]:
print(var5)

[5, 10, 15, 20, 25]

In [55]:
var5.remove(15)

In [56]:
print(var5)

[5, 10, 20, 25]

In [57]:
var5[2]

20

In [58]:
'''Rupesh, Shital,Shweta,Soham,Amar'''

'Rupesh, Shital,Shweta,Soham,Amar'

In [59]:
t=2
z=3
print(z)

3

In [60]:
#Slicing a list: 
s=[50,65,80,95,110,125,140,155]
s[2:5]

[80, 95, 110]

In [61]:
#I.N=.   0.            1.        2.      3
d=      ["Vistara","Air India","GoAir","Indigo"]

In [62]:
#List Slicing Syntax: list_name[Start Index No. : End Index No.]
#Output:[Start Index No. element,..., last index no. element-1]
d[1:3]

['Air India', 'GoAir', 'Indigo']

In [63]:
e=[12,15,18,21]
e[3:5]

[21]

In [64]:
d[-1]

'Indigo'

In [65]:
# I am just giving the end index no. : 
e=[12,15,18,21]
e[:2]

[12, 15]

In [66]:
#Need to start the elements pickups from first element (Index 0)
e[0:2]

[12, 15]

In [67]:
#Slicing of String Lists:
restr1 =["Chai Point", "Mainland China","Toit","Big Pitcher","360 Degree"]

In [68]:
#List Slicing:
restr1[1:4]

['Mainland China', 'Toit', 'Big Pitcher']

In [69]:

restr1[:2]

['Chai Point', 'Mainland China']

In [70]:
planets = ['Mercurry','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto']

In [71]:
#To define only the start index no.:
print('My sliced list is: ',planets[3:])

My sliced list is:  ['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [72]:
#Storing & Printing the values of a sliced list:
univ1 = planets[3:]
print(univ1)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [73]:
#To exempt the first & last elements:
#I am storing the values of index. nos in some defined variables:
tv=1
fg=-1
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [74]:
pkg = ["Total Compensation",8,10,12,14,16,18,20,132]
pkg[1:-1]

[8, 10, 12, 14, 16, 18, 20]

In [75]:
pkg[0]

'Total Compensation'

In [76]:
planets[tv:fg]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [77]:
#Mutability & Immutability:

In [78]:
#how to add elements in a list at a specific spot:
#Syntax: listname[index. no. onto which we need to add the element]="Element"
planets[8] = 'Titan','Rover'

In [79]:
planets

['Mercurry',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 ('Titan', 'Rover')]

In [80]:
# I want to filter out only some part of the strings in my list:
# String Shortening:
#This is a subs. to append and will add the elements in the list from left dxn. onwards.
planets[:3]=['Mur','Ven','Ur']
# The list elements got added and the older ones got substituted with them.
print(planets)

['Mur', 'Ven', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', ('Titan', 'Rover')]

In [81]:
print(planets)

['Mur', 'Ven', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', ('Titan', 'Rover')]

In [82]:
planets[:4] = ['Mercury','Venus','Earth','Mars']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', ('Titan', 'Rover')]

# Data Manipulation in Dictionary

In [83]:
print("\U0001f600")

😀

In [84]:
print("\U0001F606")

😆

In [85]:
print("\U0001F923")

🤣

In [2]:
#Dictionaries: Applications: 
score = {'Rob':75,'Kevin':95}

In [3]:
#Data Manipulations in Dict.
#Data Fetch thru Keys: dict_name[key]
#O/P - Value
mark = score['Rob']
print(mark)

75

In [4]:
#adding of elements in a dict: dict_name['Key'] = Value
score['Suresh'] = 65
score['Jignesh'] = 100
print(score)

{'Rob': 75, 'Kevin': 95, 'Suresh': 65, 'Jignesh': 100}

In [5]:
print(score)

{'Rob': 75, 'Kevin': 95, 'Suresh': 65, 'Jignesh': 100}

In [6]:
#Syntax: del dict_name['Key']
del score['Kevin']

In [7]:
print(score)

{'Rob': 75, 'Suresh': 65, 'Jignesh': 100}

In [8]:
#To print all the keys in my dictionary:
#We are casting the keys of our dict. into a list data structure.
#We are using the empty voids so that our final result can take the reqd. format.
#right to left: - 
#keys() - to extract the keys from the dict.
#score. - to assign the dictionary name of which i am extracting the keys
#list function - the ouput of score.keys() needs to be getting casted in a list
#names - var. name
names = list(score.keys())

In [95]:
print(names)

['Rob', 'Suresh', 'Jignesh']

In [96]:
[]

[]

In [97]:
names = list(score.values())

In [98]:
print(names)

[75, 65, 100]

In [17]:
# if i want to sort my values and to print them:
sortedmarks = sorted(score.values())

In [18]:
print(sortedmarks)

[65, 75, 100]

In [105]:
#To check whether the element is present in the dict. or not?:
check = 'Steve' in score

In [106]:
print(check)

False

In [107]:
chk2 = 'Suresh' in score
print(chk2)

True

In [108]:
back_list = {"Sem.1": 0,"Sem.2":2,"Sem.3":2,"Sem.4": 4,"Sem.5":1,"Sem.6":0,"Sem.7":4}

In [113]:
print(back_list)

{}

In [114]:
back_list.clear()

In [115]:
print(back_list)

{}

In [1]:
back_list1 = {"Sem.1": [0,1],"Sem.2":2,"Sem.3":2,"Sem.4": 4,"Sem.5":1,"Sem.6":0,"Sem.7":4}
print(back_list1)

{'Sem.1': [0, 1], 'Sem.2': 2, 'Sem.3': 2, 'Sem.4': 4, 'Sem.5': 1, 'Sem.6': 0, 'Sem.7': 4}

In [3]:
bk1 = back_list1.get("Sem.1")

In [4]:
print(bk1)

[0, 1]

In [5]:
#WAP to make a dictionary of famous indian cities with their number of malls present in them and 
#carry out all the data manipulations in the dictionary.