In [6]:
print("Hello")

Hello

In [7]:
print("I am all good")

I am all good

In [8]:
print("I am all good")

I am all good

# Operators in Python: -

## Arithmetic Operators in Python

In [1]:
#Additive Operator: - 
2+3

5

In [2]:
4+8

12

In [3]:
1+6

7

In [4]:
#Multiplicative Operator: - 
3*8

24

In [5]:
4*4

16

In [6]:
#Divisive Operator:-
50/5

10.0

In [7]:
68/17

4.0

In [8]:
445/5

89.0

In [10]:
#Subtractive operator:-
56-5

51

In [11]:
78-8

70

In [13]:
#Quotient:-
78//13

6

In [14]:
125//5

25

In [15]:
81//9

9

In [16]:
#Remainder Operator:-
45%5

0

In [17]:
67%6

1

## Equality and Inequality Operators: -

In [20]:
#Equality Condition Operator: -
45 == 45

True

In [21]:
34 == 12

False

In [25]:
#Inequality Condition Operator: - 
34!=67

True

In [26]:
45!=78

True

In [27]:
45!=45

False

In [33]:
#Greater Than | Greater Than or Equal To: - 
34>56

False

In [32]:
34>=67

False

In [36]:
#Smaller Than | Smaller Than or Equal To: - 
45<56

True

In [34]:
45<=70

True

• Assign value of 12 to a new variable 'age' and "John" to 'name'. 
• Save the type of age using type(age) and save it to a variable type_age 
• Similarly save the type of name to a variable type_name 
• Print out the variables type_age and type_name using the print() function

In [39]:
age=12
name='John'
type_age=type(age)
type_name = type(name)

In [41]:
print(type_name)
print(type_age)

<class 'str'>
<class 'int'>

In [42]:
print("The age is: ", age)

The age is:  12

In [44]:
print("The name is: ", name)

The name is:  John

### Logical Operators in Python:-

In [1]:
height = 181
weight = 78

In [3]:
#AND Operator in Python: - 
#Operand 1 and Operand 2
height>175 and weight>76

True

In [4]:
#OR Operator in Python: -
height>175 or weight>79

True

### Assignment Operators: -

In [8]:
maria = 5
maria = maria + 4

In [9]:
maria

9

In [13]:
maria_1 = 4
maria_1 /= 6
maria_1

0.6666666666666666

### Is/Is Not Operator: -

In [14]:
ert = 45

In [16]:
ert is 45

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-16-2d3b3b0bc9ce>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  ert is 45

True

In [17]:
tyu = 78

In [18]:
tyu is not 77

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-18-5ccee597a03f>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  tyu is not 77

True

### Not/Not In Operator: -

In [19]:
series = [1,2,3,4,5]

In [20]:
6 in series

False

In [21]:
6 not in series

True