# DataFrame Merge Command: -

2. Merge (for dataframes, typically in pandas)

based upon a common column or index i.e, totally similar to joins in SQL.

In [3]:
import pandas as pd

In [13]:
#merge: - this helps us to merge the dataframes using pandas.
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value_df1': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value_df2': [5, 6, 7, 8]})

In [15]:
#<Syntax to follow>  - resultant_df = pd.merge(df1,df2, right_on ='primary key of right table', left_on=)
df3=pd.merge(df1,df2,right_on='rkey',left_on='lkey')

In [17]:
df3

  lkey  value_df1 rkey  value_df2
0  foo          1  foo          5
1  foo          1  foo          8
2  bar          2  bar          6
3  baz          3  baz          7
4  foo          5  foo          5
5  foo          5  foo          8

In [19]:
df4=pd.merge(df1,df2)

In [20]:
df4

  lkey  value rkey
0  foo      5  foo

In [25]:
df99=pd.DataFrame({'key':[1,2,3], 'value1': ['A','B','C']})
df199=pd.DataFrame({'key':[1,2,4], 'value2': ['X','Y','Z']})
result_399 = pd.merge(df99,df199,on='key',how='outer')
result_399

   key value1 value2
0    1      A      X
1    2      B      Y
2    3      C    NaN
3    4    NaN      Z

## Dataframe Joins: -

Features such as Join, Merge, zip & Concat command in Python are used for combining the huge datasets in Python. 

Join (for strings): - 

concatenate

Joins don't require any primary key/comonality across tables to be identified

In [43]:
df5 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

In [45]:
other = pd.DataFrame({'key': ['K0', 'K1', 'K2','K3'],
                      'B': ['B0', 'B1', 'B2','B3']})

In [47]:
#Syntax: - left_df.join(right_df)
df5.join(other, lsuffix='_caller', rsuffix='_other')

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3        K3   B3
4         K4  A4       NaN  NaN
5         K5  A5       NaN  NaN

In [9]:
words = ["Hello " "World"]
result = "".join(words)

In [10]:
result

'Hello World'

In [12]:
words_1 = ["Python ","is ","awesome."]
result_1 = "".join(words_1)
result_1

'Python is awesome.'

3. Concat: - combine multiple objects(such as lists, tuples etc.) 
along a specified axis (for dataframes)

for dataframes, it stacks them either vertically or horizontally.
vertical - axis = 0
horizontal - axis = 1

In [11]:
import pandas as pd
df567 = pd.DataFrame({'A_567':[1,2],'B_567':[4,5]})
df789 = pd.DataFrame({'A_789':[9,7],'B_789':[6,3]})
pd.concat([df567,df789],axis=1)

   A_567  B_567  A_789  B_789
0      1      4      9      6
1      2      5      7      3

4. Zip: - multiple iterables (such as list or tuples) element-wise into tuples. Useful for
parallel iteration over multiple sequences.

In [33]:
asd = [1,2,3,4]
dfg = ["A","B","C","D"]
qwe = (zip(asd,dfg))
print(list(qwe))

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

Use Cases: - 
1) join(): - when we need to concatenate strings with a separator
2) merge(): - when combining relational data in pandas DataFrames
3) concat(): - when stacking lists, tuples or DataFrames
4) zip(): - when you want to loop through two or more lists/iterables
at the same time.
5) map function: - iterables are such as list, tuple etc. | lambda & enumerate

In [16]:
#map fxn.: -
#syntax: - map(function,iterable)

numbers = [1,2,3,4]
result = map(str,numbers)
print(list(result))

['1', '2', '3', '4']