## String Functions: -

In [1]:
"hello".upper()

'HELLO'

In [3]:
###2. lower function: - 
"HELLO MAM".lower()

'hello mam'

### 3. Capitalize Function

In [7]:
#Capitalizes the first character of the string. Syntax: "str".capitalize()
"i am very happy today".capitalize()

'I am very happy today'

### 4. Strip Function

In [10]:
#removes leading characters from the string (whitespace by default)
" hello   ".strip()

'hello'

In [16]:
#lstrip: - removes leading characters from the left.
#rstrip: - removes leading characters from the right.
print("   Ria Institute   ".lstrip())
print("   Ria Institute   ".rstrip())

Ria Institute
   Ria Institute

### 5. Replace Function

In [19]:
#Syntax: - "str".replace("word to be rplaced in the string","word which will come instead of previous word in the string")
"I used to train people earlier at Symbiosis Univ.,Pune".replace("Symbiosis","Amity")

'I used to train people earlier at Amity Univ.,Pune'

### 6. Split Function

In [28]:
#Splits the strings into a list of substrings based on separator. (takes whitespace by default)
"I: am a Millionaire".split(sep=":")

['I', ' am a Millionaire']

### 7. Join Function

In [44]:
#it concatenates the given set of strings in the iterable with the string as the separator.
", ".join(["parminder" "mam is in usa"])

'parmindermam is in usa'