In [3]:
#try, except & with statements

#--- try goes in the combination with except. (try - except)

#--- with goes in the combination with as. (with - as)

### Try - Except Statements

In [18]:
try: 
    result = 10/0
except:
  print("You can't divide by zero!")

You can't divide by zero!

In [26]:
try: 
    number = int(input("Enter a number"))
except:
    print("That is not a valid number")

Enter a number 45

In [40]:
#Multiple Exceptions: 
try: 
    value = int("abc")
    result = 10/2
except (ValueError,ZeroDivisionError) as e:
    print(f"An error occured: {e}")

An error occured: invalid literal for int() with base 10: 'abc'

In [56]:
import time
for i in range(3):
    try:
        result = 10/0
    except ZeroDivisionError:
        print(f"Attempt{i+1}: Division by zero. Retrying....")
        time.sleep(0.5)
    else:
        break

Attempt1: Division by zero. Retrying....
Attempt2: Division by zero. Retrying....
Attempt3: Division by zero. Retrying....

### With As Statement & Basics of Python File Handling

In [2]:
#Opening a file
with open("example.txt","w") as file:
    file.write("This is a simple example taught and trained in the python session")

In [4]:
pwd

'C:\\Users\\ADMIN1\\Jupyters_Ria_Arnav\\Ria_JPNBs'

In [7]:
#reading a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

This is a simple example taught and trained in the python session

In [25]:
#WAP to create a text file of extension .txt. and having a list of 5 famous restaurants in south india.
rest_list = ['A2B','Udupi Gadenia','Udupi Paaksiri','Meghana Foods','Andhra Spice']
with open("rest_list.txt","w") as file:
    for x in rest_list:
        file.write(x + "\n")
#WAP to open and read 2 files in python simultaneously.